<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <meta name="description" content="Admin Dashboard">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap|Heebo|Quicksand|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e0fef6fe5f.js" crossorigin="anonymous"></script>


</head>

<body>
<div id="wrapper"> 
    
<header> 
<div id="logo">ShortCircuit | ADMIN PANEL</div>
<nav>
  <a href="#" class="menu-trigger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
  <ul>
    <li><a href="index.html">User Ikon</a></li>
      <li><a href="#information">Instillinger</a></li>
      <li><a href="#guide">Notes</a></li>
  </ul>
</nav>
</header> 

<section id="main">
<div class="box1">
  <h2>Latets Post</h2>
<div class="overSkriftHeader">
<h4>Overskift</h4>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
Aliquam tincidunt mauris eu risus.
Vestibulum auctor dapibus neque.
Nunc dignissim risus id metus.
</p>
<button class="admin-btn">Read More</button>
</div>
<hr class="new1">

<div class="overSkriftHeader">
  <h4>Overskift</h4>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  Aliquam tincidunt mauris eu risus.
  Vestibulum auctor dapibus neque.
  Nunc dignissim risus id metus.

  </p>
  <button class="admin-btn">Read More</button>
  </div>
  <hr class="new1">
  <div class="overSkriftHeader">
    <h4>Overskift</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    Aliquam tincidunt mauris eu risus.
    Vestibulum auctor dapibus neque.
    Nunc dignissim risus id metus.
    </p>
    <button class="admin-btn">Read More</button>
    </div>
    
</div>
<div class="box2">
<h2>Latest Users</h2>
<div class="overSkriftHeader">
  <div class="grid2">
    <span>
        <strong>ID</strong>
    </span>
    <span>
        <strong>UserName</strong>
    </span>
    <span>
        <strong>Full Name</strong>
    </span>
    <span>
        <strong>Created at</strong>
    </span>
    <span>
        <strong>Email</strong>
    </span>
    <span>0</span>
    <span>Woet</span>
    <span>Peter Wind</span>
    <span>2020-03-05 19:51</span>
    <span>peterschaadtwind@gmail.com</span>
    <span>1</span>
    <span>Marcus</span>
    <span>Zoomer : D</span>
    <span>2012-03-07T00:08:36</span>
    <span>Marc@gmail.com</span>
    <span>2</span>
    <span>Vind</span>
    <span>Niels</span>
    <span>1985-03-10T20:13:04</span>
    <span>Niel@Vind.dk</span>

</div>
  </div>
</div>
<div class="box3">
<h2>Something</h2>
</div>
<div class="box4">
<h2>Active</h2>
</div>
</section>

  

<section id="sb">
    <ul>
        <p class="sideBarMenu">Home</p>
        <li><a href="#home"><i class="fas fa-home sbmenu"></i>Home</a></li>
        <p class="sideBarMenu">Users</p>
        <li><a href="#home"><i class="fas fa-users sbmenu"></i>Users</a></li>
        <li><a href="#home"><i class="fas fa-hand-paper sbmenu"></i>Banned Users</a></li>
        <p class="sideBarMenu">Post</p>
        <li><a href="#home"><i class="fas fa-file-invoice sbmenu"></i>Post</a></li>
        <p class="sideBarMenu">Site</p>
        <li><a href="#home"><i class="fas fa-scroll sbmenu"></i>Regler</a></li>
        <li><a href="#home"><i class="fas fa-info-circle sbmenu"></i>Informationer</a></li>
        <li><a href="#home"><i class="fas fa-cog sbmenu"></i>Setting</a></li>
      </ul>
</section>
   

    

  

    

 
<footer>
     <div class="footer_information">
        <p>© Peter Schaadt Wind</p>
    </div> 
</footer>

</div>   

</body>

    

</html>    