@import "../css/cssConstants/variables.scss";
@import "../css/cssConstants/navigation.scss";
@import "../css/feed.scss";

		.card{
			width: calc(1364px + 40px);
			height: 70px;
			border-radius: 15px;

			display:  flex;
			margin: 20px;

			justify-content: center;
			align-items: center;


			background-color: #7700FF;
			color: $White;
			font-size: 24px;

			i {
				margin-right: 20px;
				font-size: 30px;
			}
		}
		#cardLike {
			background-color: #d64541;
			color: #96281b;
		}

		#cardComment{
			background-color: #446cb3;
			color: #3a539b;
		}
		
		#cardPinned{
			color: #663399;
		}

@media (prefers-color-scheme: light) {
	body { 
		background-color: $ldark;
		}
		
	// Navigation 
	header{
		background: $lbackground;
		}
	
		nav{
				a{
					color:$lWhite;
				}
			}
	
		#logo{
			color: $lWhite;
			a{
				color: $lWhite;
			}
			}	
	
		.menu-trigger {
			color:$lWhite;
			}
	
	// Post
		#post{
			background-color: $lbackground;
		}
	
		#postFrame {
	
			.postByUser{
				color: $lWhite;
			}
	
			.postTitle{
				padding: 0;
				margin: 0;
	
				h3{
					color: $lWhite;
				}
	
			}
	
			.postInfo{
				.postStats{
					color: $lWhite;
					display: flex;
					align-items: center;
				}
			
				.postAction{
	
					a {
						color: $lWhite;
					}
				}
			}
	
			.postLikes {
				p {
					color: $lWhite;
				}
				
			}
	
			.postUser {
	
				i {
					color: $lWhite;
				}
	
				div {
					h3{
						color: $lWhite;
					}
	
					p {
						color: $lWhite;
					}
				}
				
	
				
			}	
		}
	
		#postCommentFrame{
			background-color: $lbackground;
	
			#commentField{
				background-color: $ldark;
	
				h3{
					color: $lWhite;
				}
	
				.commentUser {
					.theComment {
						i {
							color: $lWhite;
						}
			
						div {
							h3{
								color: $lWhite;
							}
			
							p {
								color: $lWhite;
							}
						}
					}
				}	
			}
	
			#writeComment{
	
				i {
					color: $lWhite;
				}
	
				input {
					background-color: $ldark;
					color: $lWhite;
	
				}
				button{
					background-color: $ldark;
					color: $lWhite;
				}
	
				#paper-plane{
					background-color: $lcolor;
					i{
						color: $White;
					}
				}
			}
	
		}
	
		#uploadContent {
			button {
				color: $White;
			}
			
		}
}