$navheight: 70px;

body { 
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	background-color: #24252A;
	
	}

	.sideBar{
		width: 20%;
	}
	
// Navigation 
header{
	display: flex;
	flex-direction: row;
	height: $navheight;
	background: #191A1D;
	color: black;
	border-bottom: 1px solid #202125;
	line-height: $navheight;
   }

	nav{
		display: flex;
		width: 40vw;
		justify-content: flex-end;

			a{
				color:#fff;
				display:block;
				text-decoration: none;
				font-size: 14px;
			}

			ul {
				margin: 0;
				height: $navheight;
				line-height: $navheight;
			}

			ul li {
				display: inline-block;
				align-items: center;
					padding-left:15px;
					padding-right: 15px;
			}
			
			i{
				margin: 5px;
				font-size: 25px;
			}
		}

	#logo{
		display: flex;
		justify-content: flex-start;
		width: 40%;
		color: #ffffff;
		font-size: 25px;
		}	

	.menu-trigger {
		display:none;
		color:#fff;
	  }


// Main
	#main {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		width: 100vw;
		height: 100%;
	}

// Post
	.postFrame {
		display: flex;
		flex-direction: column;
		background-color: red;
		background-color: #191A1D;
		width: 25vw;
		height:	35vw;
		margin: 10px;
		border-radius: 3%;
	}

	.postByUser{
		display: flex;
		flex-direction: row;
		color: white;
		height: 1.5vw;
		width: 94.5%;
		padding: 10px; 
			margin-left: 10px;
			margin-top: .4vw;

		#profilePicName{
			display: flex;
			width: 80%;

			h3{
				margin: 0;
			}
	
			i {
				margin: 0;
				font-size: 25px;
				margin-right: 10px;
			}
		}

		#timestamp{
			display: flex;
			justify-content: flex-end;
			width: 20%;
			margin: 0;
			margin-right: 10px;

			p{
				margin: 0;
			}
		}
		
	}
/*
	.postImg{
		width: 100%;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("http://placekitten.com/500/400");
	} */ 

	.postImg{
		img {
			object-fit: cover;
			width: 25vw;
			height: 25vw;
		}
	}

	.postAction{
		display: flex;
			margin-top: 5px;
			margin-left: 10px;
		padding: 10px;
		width: 94.5%;

		a {
			width: 20%;
			color: white;
			font-size: 25px;
			margin: 0;
				margin-right: 15px;
		}

			#likeComment{
				width: 80%;
			}

		#pin{
			display: flex;
			justify-content: flex-end;
			width: 20%;
			padding-right: 10px;

			a{
				margin: 0;
			}
		}
	}

	.postComments {
		display: flex;
		color: #FFFFFF;
		width: 94.5%;
		margin-left: 20px;

		#postUsername {
			margin-right: 10px;
			font-weight: 700;
		}	
	}

	#uploadContent {
		position: fixed;
		right: 50px;
		bottom: 50px;
		
		button {
			height: 70px;
			width: 70px;
			border-radius: 20%;
			background-color: #7700FF;
			border: none;
			color: white;

			i {
				font-size: 35px;
			}
		}
		
	}







