::-webkit-scrollbar-track-piece {
  background: transparent;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #2C2F33;
}

.sideBar {
  width: 20%;
}

a {
  text-decoration: none;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  background: #23272A;
  border-bottom: 1px solid #202125;
  line-height: 70px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 14px;
}

nav ul {
  margin: 0;
  height: 70px;
  line-height: 70px;
}

nav ul li {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

nav i {
  margin: 5px;
  font-size: 25px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40%;
  color: #ffffff;
  font-size: 25px;
}

#logo a {
  text-decoration: none;
  color: white;
}

.menu-trigger {
  display: none;
  color: #fff;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #23272A;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  max-width: 1364px;
}

#postFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  /*	#Pin {
			display: none;
		} */
}

#postFrame .postByUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  height: 1.5vw;
  width: 94.5%;
  padding: 10px;
  margin-left: 10px;
  margin-top: .4vw;
}

#postFrame .postImg img {
  width: 960px;
  height: 540px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#postFrame .postTitle {
  padding: 0;
  margin: 0;
}

#postFrame .postTitle h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 24px;
  color: #FFFFFF;
}

#postFrame .postInfo {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#postFrame .postInfo .postStats {
  width: 50%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postFrame .postInfo .postStats p {
  margin: 0;
  margin-right: 10px;
}

#postFrame .postInfo .postStats #postTime {
  opacity: .5;
}

#postFrame .postInfo .postAction {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postFrame .postInfo .postAction a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  font-size: 24px;
  margin-left: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#postFrame .postInfo .postAction a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#postFrame .postLikes {
  margin: 0;
  margin-left: 20px;
}

#postFrame .postLikes p {
  margin: 0;
  color: white;
}

#postFrame .postUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postFrame .postUser i {
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#postFrame .postUser div h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: #FFFFFF;
}

#postFrame .postUser div p {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

#postCommentFrame {
  width: 20vw;
  margin-left: 20px;
  background-color: #23272A;
  max-width: 384px;
}

#postCommentFrame #commentField {
  background-color: #2C2F33;
  border-radius: 10px;
  height: 470px;
}

#postCommentFrame #commentField h3 {
  margin: 0;
  padding: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding-bottom: 0;
}

#postCommentFrame #commentField .commentUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 20px;
  padding-top: 0;
  overflow: auto;
  height: 387px;
}

#postCommentFrame #commentField .commentUser .theComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

#postCommentFrame #commentField .commentUser .theComment i {
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#postCommentFrame #commentField .commentUser .theComment div h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: #FFFFFF;
}

#postCommentFrame #commentField .commentUser .theComment div p {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

#postCommentFrame #writeComment {
  width: 20vw;
  max-width: 384px;
  height: 50px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#postCommentFrame #writeComment form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
}

#postCommentFrame #writeComment form i {
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 10%;
  padding-left: 5px;
}

#postCommentFrame #writeComment form input[type=text] {
  width: 75%;
  height: 50px;
  padding: 0;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #2C2F33;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
}

#postCommentFrame #writeComment form input[type=text]:focus {
  outline: none;
}

#postCommentFrame #writeComment form input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#postCommentFrame #writeComment form input[type=submit] {
  height: 50px;
  width: 15%;
  background-color: #7700FF;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#postCommentFrame #writeComment form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 15%;
  background-color: #2C2F33;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

#postCommentFrame #writeComment form label i {
  width: 15%;
  font-size: 20px;
  padding-right: 10px;
}

#postCommentFrame #writeComment form label i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#uploadContent {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

#uploadContent button {
  height: 70px;
  width: 70px;
  border-radius: 20%;
  background-color: #7700FF;
  border: none;
  color: white;
}

#uploadContent button i {
  font-size: 35px;
}

.profilePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profilePic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

#writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#writing img {
  width: 30px;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 5px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #F2F3F5;
  }
  header {
    background: #FFFFFF;
  }
  nav a {
    color: #23272A;
  }
  #logo {
    color: #23272A;
  }
  #logo a {
    color: #23272A;
  }
  .menu-trigger {
    color: #23272A;
  }
  #post {
    background-color: #FFFFFF;
  }
  #postFrame .postByUser {
    color: #23272A;
  }
  #postFrame .postTitle {
    padding: 0;
    margin: 0;
  }
  #postFrame .postTitle h3 {
    color: #23272A;
  }
  #postFrame .postInfo .postStats {
    color: #23272A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #postFrame .postInfo .postAction a {
    color: #23272A;
  }
  #postFrame .postLikes p {
    color: #23272A;
  }
  #postFrame .postUser i {
    color: #23272A;
  }
  #postFrame .postUser div h3 {
    color: #23272A;
  }
  #postFrame .postUser div p {
    color: #23272A;
  }
  #postCommentFrame {
    background-color: #FFFFFF;
  }
  #postCommentFrame #commentField {
    background-color: #F2F3F5;
  }
  #postCommentFrame #commentField h3 {
    color: #23272A;
  }
  #postCommentFrame #commentField .commentUser .theComment i {
    color: #23272A;
  }
  #postCommentFrame #commentField .commentUser .theComment div h3 {
    color: #23272A;
  }
  #postCommentFrame #commentField .commentUser .theComment div p {
    color: #23272A;
  }
  #postCommentFrame #writeComment i {
    color: #23272A;
  }
  #postCommentFrame #writeComment input {
    background-color: #F2F3F5;
    color: #23272A;
  }
  #postCommentFrame #writeComment button {
    background-color: #F2F3F5;
    color: #23272A;
  }
  #postCommentFrame #writeComment #paper-plane {
    background-color: #7700FF;
  }
  #postCommentFrame #writeComment #paper-plane i {
    color: #FFFFFF;
  }
  #uploadContent button {
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=feed.css.map */