$navheight: 70px;

body { 
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	background-color: #24252A;
	
	}

	.sideBar{
		width: 20%;
	}

	h2 {
		font-size: 50px;
	}

	p {
		font-size: 20px;
	}
	
// Navigation 
header{
	display: flex;
	flex-direction: row;
	height: $navheight;
	background: #191A1D;
	color: black;
	border-bottom: 1px solid #202125;
	line-height: $navheight;
   }

	nav{
		display: flex;
		width: 40vw;
		justify-content: flex-end;

			a{
				color:#fff;
				display:block;
				text-decoration: none;
				font-size: 14px;
			}

			ul {
				margin: 0;
				height: $navheight;
				line-height: $navheight;
			}

			ul li {
				display: inline-block;
				align-items: center;
					padding-left:15px;
					padding-right: 15px;
			}
			
			i{
				margin: 5px;
				font-size: 25px;
			}
		}

	#logo{
		display: flex;
		justify-content: flex-start;
		width: 40%;
		color: #ffffff;
		font-size: 25px;

		a {
			text-decoration: none;
			color: white;
		}
		}	

	.menu-trigger {
		display:none;
		color:#fff;
	  }

// Main 
	#main{
		width: 100%;
		display: flex;
		flex-direction: row;
		margin: 20vh auto 0 auto; 
		justify-content: center;

		#profilePicture{
			display: flex;
			img{
				object-fit: cover;
				width: 15vw;
				height: 15vw;
				border-radius: 20%;
			}
		}

		#userInfo {
			display: flex;
			flex-direction: column;
			color: white;
				margin-left: 50px;
			
			button{
				background-color: #7700FF;
				border: none;
				color: white;
				border-radius: 10px;
				width: 100px;
				height: 40px;
				font-size: 15px;
			}

			.bold {
				font-weight: 700;
			}

			#row1 {
				display: flex;
				flex-direction: row;

				h2{
					margin-bottom: 5px;
				}
			}

			#row2 {
				margin-top: 0px;
				display: flex;
				flex-direction: row;

				p {
					margin-top: 0;
				}

				.normal{
					margin-right: 20px;
					margin-left: 5px;
				}
			}

			#row3 {
				display: flex;
				flex-direction: column;
				
				.bold {
					margin: 0;
					margin-top: 20px;
				}

				.normal{
					margin-top: 10px;
				}
			}
		}
	}
	