$navheight: 70px;

body { 
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	background-color: #24252A;
	
	}

	.sideBar{
		width: 20%;
	}
	
// Navigation 
header{
	display: flex;
	flex-direction: row;
	height: $navheight;
	background: #191A1D;
	color: black;
	border-bottom: 1px solid #202125;
	line-height: $navheight;
   }

	nav{
		display: flex;
		width: 40vw;
		justify-content: flex-end;

			a{
				color:#fff;
				display:block;
				text-decoration: none;
				font-size: 14px;
			}

			ul {
				margin: 0;
				height: $navheight;
				line-height: $navheight;
			}

			ul li {
				display: inline-block;
				align-items: center;
					padding-left:15px;
					padding-right: 15px;
			}
			
			i{
				margin: 5px;
				font-size: 25px;
			}
		}

	#logo{
		display: flex;
		justify-content: flex-start;
		width: 40%;
		color: #ffffff;
		font-size: 25px;
		}	

	.menu-trigger {
		display:none;
		color:#fff;
	  }